[submodule "timeline"]
	path = timeline
	url = git@github.com:simdax/timeline.git
[submodule "supercollider-sfz"]
	path = supercollider-sfz
	url = https://github.com/simdax/supercollider-sfz
[submodule "sonatinaSampler"]
	path = sonatinaSampler
	url = https://github.com/simdax/sonatinaSampler
[submodule "quarks"]
	path = quarks
	url = https://github.com/supercollider-quarks/quarks.git
[submodule "protoGui"]
	path = protoGui
	url = git@github.com:simdax/protoGui.git
[submodule "patternsSC"]
	path = patternsSC
	url = git@github.com:simdax/patternsSC
[submodule "niouPatGui"]
	path = niouPatGui
	url = https://github.com/simdax/niouPatGui
[submodule "miscellaneous"]
	path = miscellaneous
	url = https://github.com/simdax/miscellaneous
[submodule "JITLibExtensions"]
	path = JITLibExtensions
	url = https://github.com/supercollider-quarks/JITLibExtensions
[submodule "PFF"]
	path = PFF
	url = https://github.com/simdax/PFF
[submodule "Require"]
	path = Require
	url = https://github.com/scztt/Require.quark
[submodule "SynthDefPool"]
	path = SynthDefPool
	url = https://github.com/supercollider-quarks/SynthDefPool
[submodule "TabbedView2"]
	path = TabbedView2
	url = https://github.com/supercollider-quarks/TabbedView2
[submodule "TabbedView2_QT"]
	path = TabbedView2_QT
	url = https://github.com/supercollider-quarks/TabbedView2_QT
[submodule "UnitTesting"]
	path = UnitTesting
	url = https://github.com/supercollider-quarks/UnitTesting
[submodule "WarpExt"]
	path = WarpExt
	url = https://github.com/supercollider-quarks/WarpExt
[submodule "XML"]
	path = XML
	url = https://github.com/supercollider-quarks/XML
[submodule "Zyn"]
	path = Zyn
	url = https://github.com/simdax/Zyn
[submodule "app"]
	path = app
	url = git@github.com:simdax/app.git
[submodule "ext"]
	path = ext
	url = git@github.com:simdax/ext
